ABSOLUTE_PATH_TO_CLI_TRACKER_FOLDER=/Users/<user_name>/Documents/programming

# '8' is the month (e.g. August) and '10' is the tenth of August (monday is a day of the week and is only added in the name for convenience)
RELATIVE_PATH_TO_LOG_FILE=logs/8_10_monday.json
